*{
    padding:0;
    margin:0;
}
body{
    padding:0;
    margin:0;
}
.bar{
    margin: 0;
    padding: 0px;
    color:  #fefbd8;    
}
li{
    justify-content: center;
    align-items: center;
}
ol{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin:0;
    margin-bottom: 0rem;
    margin-left:30vh;
}
.top{
	display: grid;
	grid-template-columns: minmax(15vh,auto);
    grid-template-rows:15vh;
    grid-row: auto;
    grid-column: auto;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom:0px;
    padding: 0;
    color:  rgb(221, 16, 16);
    font-size:3vh;
    font-weight: 600;
}
#img{
    width: 50vh;
    /* height: 25vh; */
}
.logo{
    text-decoration: none;
    margin-right:10vh;
    
}
.button{
    color:whitesmoke;
    font-size: 16px;
    font-family:'Open Sans',serif;
    font-weight: 900;
    margin-bottom:5px;
    border-radius: 3px;
    padding-left:4vh;
    padding-right:4vh;
    padding-top:2vh;
    padding-bottom:2vh;
    background-color:#EF0031;
}
.button:hover{
   background-color : transparent;
   border-radius: 3px ;
   border:2px solid;
   border-color: #EF0031;
}
.txt{
    display:flex;
    flex-direction: column;
    align-items: center;
   
    
}
.place{
    font-size: 20vh;
    color:white;
    font-family:'Fasthand',serif ;
    margin:0;
}
.txtinfo{
    font-size: 10vh;
    color:white;
    font-weight: 700;
}
.container{
    background: url(img/container.jpeg) no-repeat;
    height: 100vh;
    background-size: cover;
}
.container1{
    background: url(img/container1.jpg) no-repeat;
    height: 70vh;
    background-size: cover;
}
.menu{
    border-style: none;
    border-bottom:5px;
    border-bottom:rgb(9, 219, 9) solid;
}
.menu:hover{
    border-style: none;
    border-bottom:rgb(9, 219, 9) solid ;
    background-color:white;
    color:black;

}
.topinfo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding-top:5vh;
}

.storyinfo{
    display:flex;
    flex-direction: row;
    padding-top:7vh;
}
#txt1{
    padding:5vh;
    font-weight: 800;
    font-family :'Open Sans',sans-serif;
    color:white;
}
#txt2{
    padding:5vh;
    font-weight: 800;
    font-family :'Open Sans',sans-serif;
    color:white;
}
.container2{
    background-image: url(img/contain.jpg);
    background-size: cover;
    height:150vh;
    
    
}
.button1{
    color:whitesmoke;
    font-size: 16px;
    font-family:'Open Sans',serif;
    font-weight: 900;
    margin-bottom:5px;
    border-radius: 3px;
    padding-left:4vh;
    padding-right:4vh;
    padding-top:2vh;
    padding-bottom:2vh;
    background-color : transparent;
    border-color: #EF0031;
   
}
.button1:hover{
   background-color:#EF0031;
   border-radius: 3px ;
   border:2px solid;
   border-color: #EF0031;
}
ol{
    margin:0;
    align-content:center;
    justify-content: center;
}
li{
    text-decoration: none;
    display:flex;
    flex-direction: column;
}
.txth1{
    font-family:'Open Sans',serif;
    font-weight: 500;
    font-size: 4vh;
    color:white;
    padding-bottom:5px;
}
.price1{
    color:white;
    padding:5px;
    font-size: 4vh;
    padding-bottom:5px;
}
.menugrid{
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-column: auto;
    grid-row: auto;
    grid-gap:10vh;
    
}
.topinfo2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding-top:10vh;
}
.container4{
    background:url(img/8-bit\ City_1920x1080.jpg) no-repeat;
    height:100vh;
    background-size: cover;
}
.bottominfo{
    display:flex;
    flex-direction: column;
}
.green{
    text-decoration: underline;
    color:rgb(34, 212, 34);
    font-size: 4vh;
    font-weight: 800;
}
.txt33{
    color: white;
    font-size: 3vh;
    font-weight: 600;
}
.flx{
 display: flex;
 flex-direction: column;
 padding-top:5vh;
}
#btm{
    padding:5vh;
}
.container3{
    
    height:200vh;
}
hr{
    margin-top:0;
    background-color: #EF0031;
    border: 2px solid #EF0031;
}
ul{
    text-decoration: none;
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-column: auto;
    grid-row: auto;
    grid-gap:10vh;
    /* padding:10vh; */

}

#imgdish{
    max-height: 90px;
    max-width:90px;
}
.flx1{
    display:flex;
    flex-direction: column;
}
#gridd{
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    grid-column: auto;
    grid-row: auto;
    grid-gap:5vh;
    padding:10px;
}
.txth2{
    font-size:5vh;
    font-weight:700;
    font-family:'Open Sans',serif;
    padding:5px;
}
.pizdes{
    font-size:2.5vh;
    font-weight:500;
    font-family:'Open Sans',serif;
    color:rgb(57, 57, 57);
    padding:5px;
}
.mprice{
    font-size:2.5vh;
    font-weight:600;
    font-family:'Open Sans',serif;
    color:#9f0020;
}
nav{
    width: 100%;
    background-color: #2691d9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0px;
    padding-right: 30px;
}
.nav-menu ul{
    display: flex;
    padding-right: 30px;
}
.nav-menu ul li{
    list-style: none;
    padding: 12px 25px;
    cursor: pointer;
}
.nav-menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}