body{
    padding:0;
    margin:0;
}
.bar{
    margin: 0;
    padding: 0px;
    color:  #ffffff;    
}
li{
    text-decoration: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
ol{
    margin:0;
    align-content:center;
    justify-content: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin:0;
    margin-bottom: 0rem;
    /* margin-left:30vh; */
}

.supercontainer{
    background: url(img/1920x1080.jpg) no-repeat;
    background-size: cover;
}
.container1{
  height: 100vh;  
}
.container2{
    background: url(img/ROG\ Strix\ 2019_1920x1080.png);
    background-size:cover;
    height:100vh;
}
.menugrid{
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
    grid-column: auto;
    grid-row: auto;
    grid-gap:10vh;
    
}
.top{
	display: grid;
	grid-template-columns: minmax(15vh,auto);
    grid-template-rows:15vh;
    grid-row: auto;
    grid-column: auto;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom:0px;
    padding: 0;
    color:  #ffffff;
    font-size:4vh;
    font-weight: 600;
}
.about{
    color:#ffffff;
}
#abt{
    margin:4vh;
    font-size: 3vh;
}
#img{
    width: 50vh;
    /* height: 25vh; */
}
.logo{
    text-decoration: none;
    margin-right:10vh;
    
}
.container3{
    height:120vh;
}
.video{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
#txt{
    margin-top:5vh;
    margin-left:40vh;
    margin-right:40vh;
}
.container4{
    height:70vh;
}
.contain{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.stream{
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    grid-column: auto;
    grid-row: auto;
    grid-gap:10vh;
    margin-left: 10vh;
    margin-right: 10vh;
}
.container5{
    background:url(img/8-bit\ City_1920x1080.jpg) no-repeat;
    height:80vh;
    background-size: cover;
}
.bottominfo{
    display:flex;
    flex-direction: column;
}
#green{
    text-decoration: underline;
    color:rgb(34, 212, 34);
    font-size: 4vh;
    font-weight: 800;
}
#txt3{
    color: white;
    font-size: 3vh;
    font-weight: 600;
}
.flx{
 display: flex;
 flex-direction: column;
 padding-top:5vh;
}
#btm{
    padding:5vh;
}
#youtube{
    max-width: 60vh;
    max-height:80vh;
}
#twitch{
    max-width: 60vh;
    max-height:80vh;
}
#txt1{
    align-items: center;
    margin:2vh;
}
#txt2{
    align-items: center;
    margin:2vh;
}
.teamimg{
    height: 60vh;
    width:42vh;
}
h1{
    margin:0;
    padding:4vh;
}
.tn{
    color:#ffffff;  
}
.tn1{
    color:#ffffff;  
}
.tn2{
    color:#ffffff;  
}
.tn3{
    color:#ffffff;  
}
nav{
    width: 100%;
    background-color: #2691d9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0px;
    padding-left: 30px;
}
.nav-menu ul{
    display: flex;
    padding-right: 30px;
}
.nav-menu ul li{
    list-style: none;
    padding: 12px 25px;
    cursor: pointer;
}
.nav-menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
